<!DOCTYPE html>
<html>

<head>
    <title>Movie From Movie</title>

<script>
function searchWithTitle() {
    var title = document.getElementById("title").value;
    var addr = "recommendations.html?";
    if (title != "") {addr = addr + "title=" + title;}
    window.open(addr, "_self");
}
</script>
</head>

<body>
<h2>Search with Movie Title</h2>

<div>
<span>Title:</span><input type="text" id="title" name="title"><br>
<button onclick="searchWithTitle()">Search with Title</button>
</div>

<tr>
    <td th:each="movie : ${top10custom}">
        <a th:href="${movie.link}">
            <img th:src="${movie.poster}" th:alt="${movie.title}" width="100" height="150" />
        </a>
    </td>
</tr>
</body>

</html>
